* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(2, 2, 65);
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: rgb(147, 147, 154);
    font-size: 1.05rem;
  }
  .left {
    font-size: 2rem;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 75px 0px;
  }
  .firstSection > div {
    width: 30%;
  }
  .leftSection {
    font-size: 1.5rem;
  }
  .leftSection .buttons{
    padding: 45px 0;
  }
  .leftSection .btn{
    padding: 8px;
    background: #1e2167;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    cursor: pointer;
  }
  .rightSection img {
    width: 80%;
    margin: 20px 0;
  }
  .purple {
    color: rgb(143, 60, 221);
  }
  .text-gray {
    color: gray;
  }
  #element {
    color: rgb(143, 60, 221);
  }
  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }
  .secondSection h1 {
    font-size: 1.5rem;
  }
  main hr {
    border: 0;
    background: rgb(77, 82, 221);
    height: 1.5px;
    margin: 50px 85px;
  }
  .secondSection .box {
    background-color: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }
  .secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
  }
  .image-top {
    width: 50px;
    position: relative;
    top: -55px;
    left: -25px;
  }
  .vertical-title {
    position: relative;
    top: 100px;
    left: -150px;
    width: 150px;
    font-size: 25px;
  }
  .vertical-desc {
    position: relative;
    top: 215px;
    left: -200px;
    color: gray;
    width: 100px;
    font-size: 18px;
  }

  footer {
    background-color: rgb(3, 15, 35);
  }
  .footer {
    display: flex;
    padding: 25px 125px;
    justify-content: space-evenly;
  }
  .footer ul {
    list-style: none;
  }
  .footer > div {
    width: 125px;
  }
footer .footer-rights{
text-align: center;
color: gray;
padding: 12px;
}